{# src/Blogger/BlogBundle/Resources/views/Blog/add.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <header>
        <h1>Add a new Post</h1>
    </header>

    {% if app.session.hasFlash('blogger-notice') %}
        <div class="blogger-notice">
            {{ app.session.flash('blogger-notice') }}
        </div>
    {% endif %}

    {% include 'BloggerBlogBundle:Blog:form.html.twig' with { 'form': form } %}
{% endblock %}