{# src/Blogger/SecurityBundle/Resources/views/Security/sidebar.html.twig #}

<section class="section">
    <header>
        <h3>Navigation</h3>
    </header>
        
    <p><a href="{{ path('BloggerSecurityBundle_user_register') }}" />Register User</a></p>
    <p><a href="{{ path('BloggerSecurityBundle_user_edit') }}" />Edit Your User Information</a></p>
</section>